<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-success">
    <div class="panel-heading">Continuando...</div>
    <div class="panel-body">
      <h1><%= @solution.to_s %> </h1>
    </div>
  </div>
</div>