<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-success">
    <div class="panel-heading">Solução Passo a Passo...</div>
    <div class="panel-body">
<!--      Gabriel começe a fazer a montar as tabelas aqui-->
    </div>
  </div>
</div>