<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-danger">
    <div class="panel-heading">Problema...</div>
    <div class="panel-body">
      <div class="alert alert-danger" role="alert">
        Imposivel calcular seu problema ou seu limite de interação foi atingido
      </div>
    </div>
  </div>
</div>