



  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading">Especifique seu problema</div>
      <div class="panel-body">
        <form action="/specifically/new">
          <div class="form-group">
            <label for="exampleInputEmail1">Quantas variáveis ​​de decisão o problema tem?</label>
            <div class="form-group">
              <select id="number_variables" name="number_variables" class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Quantas restrições?</label>
            <div class="form-group">
              <select id="number_restrictions" name="number_restrictions" class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Maximizar ou Minimizar?</label>
            <div class="form-group">
              <select id="max_or_min" name="max_or_min" class="form-control" id="exampleFormControlSelect1">
                <option value="1">Max</option>
                <option value="2">Min</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Continuar</button>
        </form>
      </div>
    </div>
  </div>


