



  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-success">
      <div class="panel-heading">Especifique seu problema</div>
      <div class="panel-body">
        <form action="/specifically/new">
          <div class="form-group">
            <label for="exampleInputEmail1">Quantas variáveis ​​de decisão o problema tem?</label>
            <div class="form-group">
              <input type="number" id="number_variables" min="0" name="number_variables" class="form-control" id="exampleFormControlSelect1">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Quantas restrições?</label>
            <div class="form-group">
              <input type="number" id="number_restrictions" min="0" name="number_restrictions" class="form-control" id="exampleFormControlSelect1">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Maximizar ou Minimizar?</label>
            <div class="form-group">
              <select id="max_or_min" name="max_or_min" class="form-control" id="exampleFormControlSelect1">
                <option value="1">Max</option>
                <option value="2">Min</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Deseja um limite de interações?</label>
            <div class="form-group">
              <input type="number" id="interaction_limit" value="10000" min="0" name="interaction_limit" class="form-control" id="exampleFormControlSelect1">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Continuar</button>
        </form>
      </div>
    </div>
  </div>


